<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title"></title>
    <link type="text/css" rel="stylesheet" th:href="@{'/css/bootstrap.css'}">
</head>
<body style="background-image: url('/Lovepik_com-401878677-science-and-technology-line-background.png');
        background-size: 100%; ">
<div class="row mt-3">
    <div class="col-11 row">
        <div class="col-10">
            <a th:href="@{'/'}"><img src="logo.png" style="width: 100px; margin-left: 50px"></a>
        </div>
        <div  class="col-2 row">
            <div sec:authorize="isAuthenticated()">
                <img src="defaultUser.png" style="width: 20px">
                <a th:href="@{'/profile'}" th:text="${#authentication.principal.fullName}"></a>
            </div>
        </div>
    </div>
    <div class="col-1" th:insert="~{'/Layout/Offcanvas.html'}"></div>
</div>
<div layout:fragment="content"></div>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</body>
</html>