<button style="width: 70px" type="button" class="btn btn-link" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"><img th:src="@{'/menu.png'}" style="width: 100%">
</button>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
     aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">BIG Science</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table>
            <tbody>
            <tr>
                <td><a sec:authorize="isAnonymous()" th:href="@{'/login'}"
                       style="text-decoration: none;" class="mt-3">Авторизоваться</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="isAuthenticated()"
                       th:href="@{'/profile'}" style="text-decoration: none;"
                       class="mt-3">Мой профиль</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_USER')"
                       th:href="@{'/myTeacher'}" style="text-decoration: none;"
                       class="mt-3">Мои преподаватели</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_USER')"
                       th:href="@{'/searchteacher'}" style="text-decoration: none;"
                       class="mt-3">Найти преподавателя</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_TEACHER')"
                       th:href="@{'/newRequests'}" style="text-decoration: none;"
                       class="mt-3">Уведомления</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_USER')"
                       th:href="@{'/newRequestsForStud'}" style="text-decoration: none;"
                       class="mt-3">Уведомления</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_TEACHER')"
                       th:href="@{'/myChildren'}" style="text-decoration: none;"
                       class="mt-3">Мои Учениики</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_TEACHER')"
                       th:href="@{'/searchstudents'}" style="text-decoration: none;"
                       class="mt-3">Найти ученика</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_USER')"
                       th:href="@{'/choseSubject'}" style="text-decoration: none;"
                       class="mt-3">Записаться на новый предмет</a></td>
            </tr>
            <tr>
                <td><a sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                       th:href="@{'/adminpanel'}" style="text-decoration: none;"
                       class="mt-3">Панель Админа</a></td>
            </tr>
            <tr>
                <td><a th:href="@{'/aboutus'}" style="text-decoration: none;" class="mt-3">О Нас</a></td>
            </tr>
            <tr>
                <td>
                    <form method="post" th:action="@{'/to-exit'}">
                        <button class="btn btn-dark mt-4" sec:authorize="isAuthenticated()">Выйти</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
