<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Change Password</title>
<div layout:fragment="content">
    <form th:action="${'/changepassword'}" method="post">
        <div class="row col-12">
            <div class="col-6 mx-auto mt-4 row">
                <input type="hidden" th:value="${#authentication.principal.id}" name="id">
                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                     th:if="${param.passworderror!=null}">
                    Пароли не совпадают!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="col-6">
                    <p class="mt-2">Пароль:</p>
                    <input type="password" placeholder="Введите Пароль" class="mt-2 form-control" name="password">
                </div>
                <div class="col-6">
                    <p class="mt-2">Повторите Пароль:</p>
                    <input type="password" placeholder="Повторите Пароль" class="mt-2 form-control" name="repeat_password">
                </div>
                <button class="mt-3 btn btn-dark">Изменить Пароль</button>
            </div>
        </div>
    </form>
</div>
</html>