<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Change Profile</title>
<div layout:fragment="content">
    <form th:action="${'/changeprofile'}" method="post">
        <div class="row col-12">
            <div class="col-6 mx-auto mt-4 row">
                <input type="hidden" th:value="${#authentication.principal.id}" name="id">
                <div class="col-6">
                    <p class="mt-2">И.Ф.О. :</p>
                    <input type="text" class="mt-2 form-control" name="fullName" th:value="${#authentication.principal.fullName}">
                </div>
                <div class="col-6">
                    <p class="mt-2">Пол :</p>
                    <select class="mt-2 form-control" name="gender">
                        <option th:selected="${#authentication.principal.gender==Male}" value="Male">Male</option>
                        <option th:selected="${#authentication.principal.gender==Female}" value="Female">Female</option>
                    </select>
                </div>
                <div class="col-6">
                    <p class="mt-2">Возраст :</p>
                    <input type="text" class="mt-2 form-control" name="age" th:value="${#authentication.principal.age}">
                </div>
                <div class="col-6">
                    <p class="mt-2">Адрес:</p>
                    <input type="text" class="mt-2 form-control" name="address"
                           th:value="${#authentication.principal.address}">
                </div>
                <button class="mt-3 btn btn-dark">Изменить</button>
            </div>
        </div>
    </form>
</div>
</html>