<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">HomePage</title>
<div layout:fragment="content">
    <a sec:authorize="isAnonymous()" th:href="@{'/registration'}">Записаться</a>
    <a sec:authorize="isAuthenticated()" th:href="@{'/choseSubject'}">Записаться</a>
</div>
</html>