<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">My Children</title>
<div layout:fragment="content">
    <div class="row col-7 mx-auto">
        <div class="mt-2 col-12">
            <div th:if="${children==null}">
                <p>У вас нету активных запросов.</p>
            </div>
            <div th:each="c: ${children}">
                <div class="row col-12" style="background-color: #afacb4; border-radius: 5px;
                    -webkit-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.24);
                    -moz-box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.24);
                    box-shadow: 4px 4px 8px 8px rgba(34, 60, 80, 0.24)" height="140px">
                    <div class="col-2 mt-3">
                        <img th:if="${c.user.picture!=null}" th:src="@{'/UsersAvatars/'+${c.user.picture}+'.jpg'}" height="140px">
                        <img th:if="${c.user.picture==null}" th:src="@{'/defaultUser.png'}" height="140px">
                    </div>
                    <div class="col-8">
                        <p class="mt-4" th:text="'ФИО: '+${c.user.fullName}"></p>
                        <p class="mt-2" th:text="'Предмет: '+${c.user.subject.name}"></p>
                        <p class="mt-2" th:text="'Уровень: '+${c.user.userLevel.lvl}"></p>
                    </div>
                    <div class="col-2" style="margin-bottom: 20px">
                        <form th:action="@{'/addRequest'}" method="post">
                            <input type="hidden" th:value="${c.user.id}" name="id_a">
                            <button class="btn btn-dark" style="width: 150px; height: 60px; margin-top: 30px">Одобрить</button>
                        </form>
                        <form th:action="@{'/deleteRequest'}" method="post">
                            <input type="hidden" th:value="${c.user.id}" name="id_d">
                            <button class="btn btn-dark mt-1" style="width: 150px; height: 60px;">Отклонить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>