<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Registration</title>
<div layout:fragment="content">
    <form th:action="${'/registration'}" method="post">
        <div class="row col-12" id="nextPartReg">
            <div class="col-6 mx-auto mt-4 row">
                <div class="col-6">
                    <p class="mt-2">Email:</p>
                    <input type="email" placeholder="InsertEmail" class="mt-2 form-control" name="email">
                </div>
                <div class="col-6">
                    <p class="mt-2">Password:</p>
                    <input type="password" placeholder="InsertPassword" class="mt-2 form-control" name="password">
                </div>
                <div class="col-6">
                    <p class="mt-2">Full Name:</p>
                    <input type="text" placeholder="InsertFullName" class="mt-2 form-control" name="fullName">
                </div>
                <div class="col-6">
                    <p class="mt-2">Gender:</p>
                    <select class="mt-2 form-control" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div><div class="col-6">
                <p class="mt-2">Age:</p>
                <input type="text" placeholder="InsertAge" class="mt-2 form-control" name="age">
            </div>
                <div class="col-6">
                    <p class="mt-2">Address:</p>
                    <input type="text" placeholder="InsertAddress" class="mt-2 form-control" name="address">
                </div>
                <div class="col-6 mx-auto text-center">
                    <p class="mt-1">if you have account u can authorize <a th:href="@{'/login'}">"here"</a></p>
                    <button class="mt-1 btn btn-dark" >Registration</button>
                </div>
            </div>
        </div>
    </form>
</div>
</html>