<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Test</title>
<div layout:fragment="content">
    <div class="row col-10 mx-auto">
        <div class="mt-3">
            <p>Предмет: <label th:text="${subject.name}"></label></p>
            <p>Вы закончили вводное тестирование по предмету <label th:text="${subject.name}"></label></p>
            <p>Балл: <label th:text="${user.score}"></label> из 12.</p>
            <p>Ваш уровень по данному предмету: <label th:text="${user.userLevel.lvl}"></label></p>
            <p>Вы можете найти преподавателя в зависимости от вашего уровня во вкладке "Найти преподавателя"</p>
        </div>
    </div>
</div>
</html>