<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Test</title>
<div layout:fragment="content">
    <div id="starttest">
        <input type="hidden" id = "STestSub" th:value="${subject.id}">
        <p>Время выполнения тестирования 30 мин</p>
        <a href="JavaScript:void(0)" class="btn btn-dark" onclick="startTest()">Начать тестирование</a>
    </div>
    <script type="text/javascript">
        function startTest() {
            let subjectId=document.getElementById("STestSub");
            const req = new XMLHttpRequest();
            req.open("GET", "/test/api/"+subjectId+"")
            req.onreadystatechange = new function () {
                if (req.readyState === req.DONE) {
                    if (req.status === 200) {
                        let lists=JSON.parse(req.responseText);
                        let htmlCode = "";
                        htmlCode+="<div>"+lists.subject.name+"</div>";
                        htmlCode+="<div>"+lists.tasks[0].question+"</div>";
                        for (let i=0;i<lists.answers.length;i++){
                            htmlCode+=lists.answers[i].content;
                        }
                        htmlCode+=<button onclick="startTest()">Далее</button>
                        document.getElementById("starttest").innerHTML=htmlCode;
                    }
                }
            }
            req.send();
        }
    </script>
</div>
</html>