<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/Layout/MainLayout.html">
<title layout:fragment="title">Test</title>
<div layout:fragment="content">
    <div id="start">
        <input type="hidden" id = "STestSub" th:value="${subject.id}">
        <p>Время выполнения тестирования 30 мин</p>
        <a href="JavaScript:void(0)" class="btn btn-dark" onclick="startTest()">Начать тестирование</a>
    </div>
    <script type="text/javascript">
        let subjectId=document.getElementById("STestSub").value;
        let numberTask=0;
        function startTest() {
            const req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                if (req.readyState === req.DONE) {
                    if (req.status === 200) {
                        let lists=JSON.parse(req.responseText);
                        let htmlCode = "";
                        htmlCode+="<p>"+lists.subject.name+"</p>";
                        htmlCode+="<p>"+lists.tasks[numberTask].question+"</p>";
                        for (let j=0;j<lists.answers.length;j++){
                            if (lists.answers[j].task.id===lists.tasks[numberTask].id){
                                htmlCode+='<div class="form-check">';
                                htmlCode+='<input class="form-check-input" onclick="addAnswer('+lists.answers[j].id+')" type="radio" ' +
                                    'name="'+lists.answers[numberTask].id+'" id="'+lists.answers[j].id+'">';
                                htmlCode+='<label class="form-check-label" ' +
                                    'htmlFor="'+lists.answers[j].id+'">'+lists.answers[j].content+'</label>';
                                htmlCode+="</div>";
                            }
                        }
                        htmlCode+="<button class='btn btn-dark' onclick='backQuestion()'>Предыдущий</button>"
                        htmlCode+="<button class='btn btn-dark' onclick='nextQuestion()'>Следующий</button>"
                        htmlCode+="<a class='btn btn-dark' th:href='@{'/finishTest'}'>Закончить</a>"
                        document.getElementById('start').innerHTML=htmlCode;
                    }
                }
            }
            req.open("GET", "/api/test/"+subjectId+"");
            req.send();
        }
        function nextQuestion(){
            if (numberTask<5){
                numberTask+=1;
                startTest()
            }else if (numberTask===5){
                numberTask=0;
                startTest()
            }
        }
        function backQuestion(){
            if (numberTask<=5 && numberTask!=0){
                numberTask-=1;
                startTest()
            }else if (numberTask===0){
                numberTask=5;
                startTest()
            }
        }
        function addAnswer(answerID){
            const req=new XMLHttpRequest();
            req.onreadystatechange=function (){
                if (req.readyState===req.DONE){
                    if (req.status===200){

                    }
                }
            }
            let jsonBody={"id":answerID};
            req.open("POST", "/api/test/"+subjectId+"");
            req.setRequestHeader("Content-Type","application/json;charset=UTF-8");
            req.send(JSON.stringify(jsonBody))
        };
    </script>
</div>
</html>